<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>APP_NAME_VERSION_NUMBER</string>
	<key>CFBundleVersion</key>
	<string>APP_BUNDLE_VERSION_NUMBER</string>
	<key>CFBundleExecutable</key>
	<string>APP_EXECUTABLE_NAME</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>APP_SHORT_VERSION_NUMBER</string>
	<key>CFBundleIdentifier</key>
	<string>APP_BUNDLE_ID</string>
	<key>CFBundleSignature</key>
	<string>NETB</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>APP_BUNDLE_ICON_FILE</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>public.shell-script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.shell-script</string>
			</array>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
